html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #999
}

#console {
    display: flex;
    justify-content: center;
}

#text {
    background-color: #000000;
    border: none;
    font-family: courier, monospace;
    color: #fff;
    min-width: 800px;
    min-height: 400px;
    font-size:14px;
    overflow: hidden;
    outline: none;
    resize: none;
}

#con2 {
    display: flex;
    justify-content: center;
}

#display {
    background-color: #ffffff;
    font-family: courier, monospace;
    color: black;
    min-width: 800px;
    min-height: 200px;
    resize: none;
}